:root {
	/* orange */
	--orange: #fc791c;
	--light-orange: #fbe9cb;
	--dark-orange: #f55a0b;
	/* black */
	--black: #10070c;
	--gray: #2d1e17;

	--card-width: 490px;
	--card-height: 280px;
}
/* ========================== COLORS =============================== */
.color-strong-orange {
	color: var(--dark-orange);
}
.color-orange {
	color: var(--orange);
}
.color-light-orange {
	color: var(--light-orange);
}
.color-black {
	color: var(--black);
}
.background-orange {
	background-color: var(--orange);
}
.background-dark-orange {
	background-color: var(--dark-orange);
}
.background-gray {
	background-color: var(--gray);
}
.background-black {
	background-color: var(--black);
}
.App {
	text-align: center;
	background-color: var(--gray);
	/* height: 50vh; */
}
/* ========================== NAV =============================== */

.nav-name {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 25px;
}

.nav-container {
	background-color: var(--black);
	border-bottom: 5px solid var(--dark-orange);
	height: 40px;
	color: var(--light-orange);
}
.page-header {
	margin-top: -30px;
	padding-top: 30px;
	color: var(--light-orange);
	background-color: var(--gray);
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
}
.page-subheader {
	color: var(--light-orange);
	background-color: var(--gray);
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
}
/* ========================== FOOTER =============================== */

.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	color: var(--light-orange);
	border-top: 5px solid var(--dark-orange);
	background-color: var(--black);
	position: sticky;
	/* position: absolute; */
	bottom: 0;
}
.footer-container {
	height: 40px;
	width: 60%;
	display: flex;
	justify-content: space-around;
}

.footer-link {
	display: flex;
	padding: 20px;
	height: 100%;
	justify-content: center;
	align-items: center;
}

/* ========================== HERO =============================== */

.hero-background {
	background: url('assets/mike-u-unsplash-hero-bg.jpg') no-repeat center center
		fixed;
	background-size: 1920px 1080px;
	width: 100vw;
	max-width: 100%;
	min-height: 100vh;
	margin-top: -30px;
	margin-bottom: -100px;
}
.hero-content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 3vmin);
	font-family: Fira Code;
	font-weight: 900;
}
.CTA-link {
	background-color: var(--dark-orange);
	color: var(--black);
	width: 250px;
	height: 58px;
	padding: 0 15px;
	border-radius: 2px;
	transform: skew(-15deg);
	display: inline-block;
	border-bottom: 10px solid var(--dark-orange);
}
.CTA-link:hover {
	border-bottom: 5px solid var(--black);
}

.highlight-word {
	background-color: var(--black);
	width: 150px;
	height: 50px;
	padding: 0 15px;
	border-radius: 2px;
	transform: skew(-15deg);
	display: inline-block;
	border-bottom: 3px solid var(--dark-orange);
}

/* ========================== SIDERS =============================== */

.left-sider-container {
	background-color: #00000000;
	display: flex;
	left: 0;
	top: 50%;
	width: 100px;
	height: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;
	position: sticky;
}

.sider-follow {
	transform: rotate(-90deg);
}

.follow-link {
	fill: var(--light-orange);
	transform: rotate(90deg);
	margin-right: 5px;
}
.follow-link:hover {
	fill: var(--dark-orange);
}

.follow-text {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	width: 250px;
}
.follow-link-container:before {
	top: 14px;
	right: 118px;
	width: 50px;
	height: 2px;
	content: '';
	display: block;
	position: absolute;
	background-color: var(--light-orange);
}

.right-sider-container {
	background-color: #00000000;
	display: flex;
	left: 100%;
	bottom: 50%;
	width: 40px;
	height: 100%;
	/* position: absolute; */
	position: sticky;
}

.circle-link-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
}

.circle {
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	border: 1px solid var(--light-orange);
}

.active-link {
	color: var(--black);
	fill: var(--dark-orange);
	transform: skew(-15deg);
	font-weight: 700;
	background-color: var(--dark-orange);
}

a.active-link > span {
	transform: skew(15deg);
}
a.active-link > span.circle {
	background-color: var(--dark-orange);
	transform: skew(0deg);
}
.circle:hover {
	border: 1px solid var(--orange);
}
.sider {
	background-color: #00000000;
	display: flex;
}

/* ======================== RESUME STYLES ========================== */
.resume-container {
	margin: -30px 0 -100px 0;
	padding: 100px 200px 0 200px;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: normal;
	justify-content: flex-start;
	width: 100%;
	height: 85vh;
	background-color: var(--gray);
	color: var(--light-orange);
}

.resume-left {
	box-sizing: border-box;
	min-height: 1px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
	flex: 0 0 50%;
	max-width: 50%;
	margin-left: 0%;
	right: auto;
	left: auto;
}

.resume-right {
	box-sizing: border-box;
	min-height: 1px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
	flex: 0 0 50%;
	max-width: 50%;
	margin-left: 0%;
	right: auto;
	left: auto;
}
.resume-row {
}
.resume-p {
	font-size: 12px;
	font-weight: 500;
	padding-left: 10px;
	margin-bottom: 0;
}
.resume-title {
	z-index: 3;
	line-height: 1;
	position: relative;
	padding-left: 35px;
}
.resume-item {
	position: relative;
}
.resume-head {
	padding-top: 30px;
	padding-left: 90px;
	margin-bottom: 10px;
}
.resume-body {
	padding: 20px 36px;
}
.el-icon {
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.el-icon-icon {
	top: 10px;
	left: 10px;
	z-index: 3;
	font-size: 30px;
	line-height: 36px;
	position: relative;
}
.ti-crown {
}
.ti-cup {
}
.ti-ruler-alt-2 {
}
.ti-pencil-alt {
}
.ti-heart {
}
.ti-paint-bucket {
}

/* ======================== PORTFOLIO STYLES ========================= */
.portfolio-page {
	/* background-color: var(--gray); */
	height: 85vh;
}

.card-container {
	margin: 100px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;

	width: 60%;
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	margin: 10px;
}

.proj-img-1 {
	position: relative;
	top: 0;
	z-index: 5;
	width: var(--card-width);
	height: var(--card-height);
	background: url('assets/game-bored.gif');
}
.proj-img-2 {
	position: relative;
	top: 0;
	z-index: 5;
	width: var(--card-width);
	height: var(--card-height);
	background: url('assets/B&GWalkthrough.gif');
}
.proj-img-3 {
	position: relative;
	top: 0;
	z-index: 5;
	width: var(--card-width);
	height: var(--card-height);
	background: url('assets/arbitrary.gif');
}
.card-gif {
	background-size: var(--card-width) var(--card-height);
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: center;
	background-position-y: center;
}

.more-content {
	position: relative;
	top: calc(var(--card-height) * -1);
	height: var(--card-height);
	width: var(--card-width);
	background-color: var(--light-orange);
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 20px 20px;
	cursor: default;
}
.proj-img-1:hover {
	z-index: 1;
}
.proj-img-2:hover {
	z-index: 1;
}
.proj-img-3:hover {
	z-index: 1;
}
.more-content:hover {
	z-index: 6;
}
.card-content-title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70%;
}
.card-title {
	font-size: 24px;
	font-weight: 700;
	color: var(--dark-orange);
}
.card-subtitle {
	font-size: 11px;
	font-family: Fira Code;
	color: var(--gray);
}
.card-description {
	font-weight: 600;
	font-size: 14px;

	/* cursor: default; */
}
/* ======================== CONTACT STYLES ========================== */
.contact-page {
	height: 100vh;
}
.submit-button:hover {
	background-color: var(--dark-orange);
}
.contact-container {
	margin: -140px auto 0 auto;
	width: 50%;
	min-width: 550px;
	max-width: fit-content;
	text-align: left;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* ======================== ABOUT STYLES ========================== */
.about-page {
	height: 85vh;
}
/* ======================== KEY FRAMES ========================== */

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
